<%- include header.ejs %>
<head>
  <style>
    body {
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnVL9YHq8Ubmv2uJcIhhq3oDqD_wIU_rnUaw&usqp=CAU');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 1000px 400px;
}
html{
  height: 100%;
}
h1{
  font-size: 100px;
  font-color:#eeeeee;
}
</style>
</head>
<body>
  <h1 style="color:#aad8d3"><center>RENT CAR NOW</center></h1>
<h2><center><p style="color:#cfdac8">Book a car. Drive around. Return at your nearest location.</p></center></h2>
<br><br><br><br><br><br><br><br><br>
<h2><center><p>CAR RENTAL SYSTEM</p></center></h2>
<hr style="width:20%; border: 0.5px solid #03c4a1; ">
<p>A car rental system is a system that provides people with a vehicle that can be used by them temporarily against a fee for a specific period of time. This project is designed so as to be used by the car rental companies specializing in renting cars to the customers so that they can book their desired vehicle from anywhere without having to go through the manual procedure of renting a car. It is an online system through which the customers will be able to view available cars, register, view profile and book car. </p>
<p>This project has a great market potential. The car rental companies offer their facilities to people who do not own a vehicle, whose vehicles are out for maintenance or have no or limited access to personal vehicles. In addition, owners of broken vehicles and tourists and travelers avail use of these services. This project would let them rent a car very easily from anywhere without having them put in extra efforts and that too in minimal time. Not only will it provide ease to the customers but also to the companies, due to the savings in operating cost and reduction in paperwork, better utilization of human resources and more presentable image increasing goodwill. Our world today is undeniably digital and hence the online car renting system would provide customers and companies with far more benefits than the traditional system.</p>

</body>
<%- include footer.ejs %>
